<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I Am The APP Component</h3>
            <p>my under control everybody's working...</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class=app-server></div>
        <app-servers></app-servers>
    </div>
    <hr>
    <h3>Data binding (string interpolation)</h3>
    <app-easter-binding></app-easter-binding>
    <hr>
    <app-easter-property></app-easter-property>
    <hr>
    <h3>Event binding</h3>
    <app-easter-event-binding></app-easter-event-binding>
    <hr>
    <h3>Passing & Using data through the Event binding</h3>
    <app-easter-passingdata-event></app-easter-passingdata-event>
    <hr>
    <h3>Twoway data binding</h3>
    <app-easter-twoway-databinding></app-easter-twoway-databinding>
    <h3>partices of binding -task 1</h3>
    <app-easter-bindings></app-easter-bindings>
    <h3>task -2</h3>
    <app-easter-emptybinding></app-easter-emptybinding>
    <hr>
    <h3>strctural drictives - *ngfor (List view)</h3>
    <app-easter-ngfor></app-easter-ngfor>
    <hr>
    <h3>*ngIf</h3>
    <app-easter-ng-if></app-easter-ng-if>
</div>